#Configuration file for the sampler. Contains image path , prior bounds, Type of sampler, Number of active points etc..,
# Do not add extra space on either side of "="

# Path of the Image to be used
IMAGE_PATH=C:/Users/chaithuzz2/Desktop/Bayes_detect/assets/simulated_images/multinest_toy_noised

OUTPUT_DATA_PATH=C:/Users/chaithuzz2/Desktop/Bayes_detect/output/samples_DB_test_6.dat

# Prior bounds
X_PRIOR_UPPER=100.0
X_PRIOR_LOWER=0.0

Y_PRIOR_UPPER=100.0
Y_PRIOR_LOWER=0.0

A_PRIOR_UPPER=12.0
A_PRIOR_LOWER=1.0

R_PRIOR_UPPER=9.0
R_PRIOR_LOWER=2.0

#flag to use Stopping criterion. set to 1 for enabling and 0 otherwise  
STOP_BY_EVIDENCE=0  

#noise rms
NOISE=1.0

#Parameters for DBSCAN
EPS=10
MINPTS=10 

# Sampler type:  "metropolis" or "clustered_ellipsoidal" or "uniform"
SAMPLER=clustered_ellipsoidal

# Number of active points for the nested sampler method
ACTIVE_POINTS=1200

# Maximum number of iterations
MAX_ITER=13000

# Dispersion to use in metropolis
DISPERSION=8.0

 

